<SettingsConf>
    
    <SPName>settings</SPName>
    
	<Settings>
	    
	    <Category title="@lwps_Settings">
	        <Childs>
	    
			    <ActivityOnDoubleTap
			      title="@lwps_OpenSettingsOnDoubleTap"
			      key="openSettingsOnDoubleTap"
			      activityClass="Settings"
			      checked="true"/>
			    
			    <ScrollTypes
			      title="@lwps_ScrollTypes"
			      description="@lwps_ScrollTypesDescription"
			      key="scrollType"
			      lengthXP="1"
			      lengthXL="0">
			        <Option
			          id="none"
			          title="@lwps_ScrollTypesNone"
			          checked="true"/>
			        <Option
			          id="offset"
			          title="@lwps_ScrollTypesOnDesctopChange"/>
			        <Option
			          id="touch"
			          title="@lwps_ScrollTypesOnTouch"/>
			        <Option
			          id="gyro"
			          title="@lwps_ScrollTypesGyro"/>
			    </ScrollTypes>
			    
			    <GravityTouch
			      title="@lwps_GravityTouch"
			      key="touchEffect"
			      force="2500"
			      maxForce="5000"
			      distanceM="0.01"
			      z="-500">
			        <Option
			          id="none"
			          title="@lwps_GravityTouchNone"/>
			        <Option
			          id="agravity"
			          title="@lwps_GravityTouchAntigravity"
			          checked="true"/>
			        <Option
			          id="gravity"
			          title="@lwps_GravityTouchGravity"/>
			    </GravityTouch>
			    		    	
				<SpriteTexture
			      id="bg"
			      key="bg"
			      title="@lwps_Background"
			      description="@lwps_BackgroundDescription">
					
				    <Option
			          title="@lwps_OwnPhoto"
			          id="own"/>
			        <Option
			          icon="bgs/01_ic.png"
			          id="bgs/01.jpg"/>
			        <Option
			          icon="bgs/02_ic.png"
			          id="bgs/02.jpg"/>
			        <Option
			          icon="bgs/03_ic.png"
			          id="bgs/03.jpg"/>
			        <Option
			          icon="bgs/04_ic.png"
			          id="bgs/04.jpg"/>
			        <Option
			          icon="bgs/05_ic.png"
			          id="bgs/05.jpg" />
			        <Option
			          icon="bgs/06_ic.png"
			          id="bgs/06.jpg"/>
			        <Option
			          icon="bgs/07_ic.png"
			          id="bgs/07.jpg"
			          checked="true"/>

			    </SpriteTexture>
			    
				<FastConfig
			      key="fastconfig"
			      title="Quick setup"
			      titleRU="Быстрые настройки"
		          titleDE="Schnelle Einrichtung"
		          titlePL="Szybka konfiguracja"
		          description="Turn on / off effects"
		          descriptionRU="Включение/выключение эффектов"
		          descriptionPL="Włączyć / wyłączyć efekty"
		          descriptionDE="On / off-Effekte"
		          type="MULTI">
			        			        			        
			        <Option
			          id="fog"
			          title="Smoke" titleRU="Дым" titlePL="Dym" titleDE="Raucher"/>
			        
			        <Option
			          id="fireflies"
			          title="@lwps_TwinklingLights"/>
			        
			        <Option
			          id="waterEffect"
			          title="Water effect" titleRU="Эффект воды" titlePL="Efekt wody"/>

			    </FastConfig>
			    				
		    </Childs>
		</Category>
		
	   <Category title="Smoke" titleRU="Дым" titlePL="Dym" titleDE="Raucher">
	        <Childs>
	            
	            <RGEnabled
	              id="fog"
	              checked="true"
	              key="fog.enabled"/>
	             
	            <RGIntensity 
	              id="fog"
	              defaultValue="10"
	              key="fog.intensity"/>
	            
	        </Childs>
	    </Category>
	    
	   <Category title="Water effect" titleRU="Эффект воды" titlePL="Efekt wody">
	        <Childs>
	            
	            <WaterEffectEnabled 
	              checked="true" 
	              key="waterEffect.enabled"
	              description="Enable/disable background water effect" 
	              descriptionRU="Включение / выключение эффекта воды" 
	              descriptionPL="Włączyć / wyłączyć efekt wody" 
	              descriptionDE="Aktivieren / Deaktivieren der Hintergrund Wasser-Effekt"/>
	            
	            <WaterPoints 
			      key="waterEffect.pointsCount"
			      min="1"
			      max="20"
			      defaultValue="10"
			      title="The maximum number of points on the water"
			      titleRU="Максимальное количество точек на воде"
			      titlePL="Maksymalna liczba punktów w wodzie"
			      titleDE="Die maximale Anzahl von Punkten auf der Wasser"
			      description="More points requires more power from graphics accelerator"
			      descriptionPL="Więcej punktów potrzebuje lepszego sprzętu"
			      descriptionDE="Mehr Punkte braucht bessere Hardware"
			      descriptionRU="Чем больше точек, тем выше требования к графическому ускорителю"/>

	            <WaterEffectDetalizationLevel
	              key="waterEffect.detalizationLevel"
	              type="SINGLE"
	              title="Detalization level"
	              titleRU="Уровень детализации"
	              titlePL="Poziom detalizacji"
	              titleDE="Detaillierung Ebene">
	                <Option
			          title="@lwps_Low"
			          id="50"/>
	                <Option
			          title="@lwps_Average"
			          id="75"
			          checked="true"/>
	                <Option
			          title="@lwps_High"
			          id="100"/>
	            </WaterEffectDetalizationLevel>
	            
	            <WaterEffectWavePower
	              key="waterEffect.wavePower"
	              min="0"
	              max="20"
	              defaultValue="10"
	              title="Power of waves"
	              titlePL="Moc fal"
	              titleDE="Kraft der Wellen"
	              titleRU="Сила волн"/>
	            
	            <WaterEffectRandomDrops 
	              key="waterEffect.randomDrops"
	              checked="true"
	              title="Random drops"
	              titleRU="Случайные капли"
	              titleDE="Zufällige Tropfen"
	              titlePL="Losowe krople"/>
	              
			    <WaterEffectOnlyOnTap
			      key="waterEffect.onlyOnTap"
			      checked="false"
			      title="Water effect only on touch"
			      titleRU="Водный эффект только при нажатии"
			      titleDE="Wasser-Effekt nur auf Touch"
			      titlePL="Efekt wody tylko na dotyk"/>
		    
			 </Childs>
		</Category>
	    
	    <Category title="@lwps_TwinklingLights">
	        <Childs>
	            
	            <RGEnabled
	              id="fireflies"
	              checked="true"
	              key="fireflies.enabled"/>
	             
	            <RGIntensity 
	              id="fireflies"
	              defaultValue="10"
	              key="fireflies.intensity"
	              description="Number of twinkling lights"
	              descriptionRU="Количество огоньков"
	              descriptionPL="Liczba migotliwych światełek"
	              descriptionDE="Anzahl der Lichter"/>
	            
	            <RGScaling
	              defaultValue="10"
	              id="fireflies"
	              key="fireflies.size"
	              description="Size of twinkling lights"
	              descriptionRU="Размер огоньков"
	              descriptionPL="Wielkość migotliwych światełek"
	              descriptionDE="Größe der Lichter"/>
	            
	            <RGPrototypes
	              id="fireflies"
	              title="@lwps_TwinklingLightsColors"
	              key="fireflies.prototypes"
	              type="MULTI"
	              availability="ALL"
	              description="Select the colors of twinkling lights"
	              descriptionRU="Выбрать цвета огоньков"
	              descriptionPL="Wybrać kolory migotliwych światełek"
	              descriptionDE="Wählen Sie die Farben der Lichter">
	                <Option
	                  title="1"
	                  icon="glowworms/1.png"
          			  id="glowworm.1"
          			  checked="true"/>
	                <Option
	                  title="2"
	                  icon="glowworms/2.png"
          			  id="glowworm.2"
          			  checked="true"/>
	                <Option
	                  title="3"
	                  icon="glowworms/3.png"
          			  id="glowworm.3"
          			  checked="true"/>
	                <Option
	                  title="4"
	                  icon="glowworms/4.png"
          			  id="glowworm.4"
          			  checked="true"/>
	                <Option
	                  title="5"
	                  icon="glowworms/5.png"
          			  id="glowworm.5"
          			  checked="true"/>
	                <Option
	                  title="6"
	                  icon="glowworms/6.png"
          			  id="glowworm.6"
          			  checked="true"/>
	                <Option
	                  title="7"
	                  icon="glowworms/7.png"
          			  id="glowworm.7"
          			  checked="true"/>
	            </RGPrototypes>
	            
	        </Childs>
	    </Category>
		
	    <Category title="@lwps_World">   
    	    <Childs>		    
	    		<WorldDensity
	              defaultValue="10"
	              min="1"
	              max="50"/>		
	            <GravityForce
	              min="1"
	              max="30"
	              key="gravity"
	              defaultValue="10"/>
	            <WindForce
	              key="wind"
	              min="-30"
	              max="30"
	              defaultValue="10"/>
	       	</Childs>
		</Category>
		
	    <FPS/>
		
	</Settings>
		
</SettingsConf>
