<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yalin.livewallpaper3d">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <service
            android:name=".OpenGLES2WallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
    </application>

</manifest>
